body{
    background-color: rgb(72, 84, 97);
    padding: 7px;
    background-image: url("wallpaperflare.com_wallpaper (19).jpg");
}
h1{
    color: aqua;
    text-align: center;
    text-shadow: 3px 3px 3px lightgreen, -3px -3px 3px tomato;
}
h3{
    color: aqua;
    text-align: center;
    text-shadow: 3px 3px 3px lightgreen, -3px -3px 3px tomato;
}
img{
    display: block;
    margin: auto;
}
button{
    background-color: aquamarine;
    color: chocolate;
    display: block;
    text-align: center;
    height: 100px;
    width: 100px;
    font-weight: 700;
    font-size: 1.1em;
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color: rgb(187, 231, 219);
    color: rgb(222, 103, 19);
    display: block;
    text-align: center;
    height: 150px;
    width: 150px;
    font-weight: 900;
    font-size: 1.3em;
    transition: .5s;
    border: 7px solid slategray;

}
